body {
	background-color: lightgray;
}

.jumbotron {
	background-color: black;
	color: lightgray;
}

.gif-div {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	border-radius: 10px;
}

.boxed {
	background-color: white;
	border-radius: 10px;
}
